[2020-12-09 14:42] GearsChen opened #1 "replace texts in a .vsdx-file"
Hi Mr. Howard,

could you please post a small example of replacing some text in a .vsdx-file?

For example, replacing the text "dog" in a square with "cat".

Best regards
GC

[2020-12-12 21:57] dave-howard commented on #1
Hi GC - That's a sensible use case so I have added a find_replace() method to Page and Shape classes, as well as a new test showing how to use. Hopefully suits your needs,
Dave

[2020-12-12 21:57] #1 closed

[2021-02-19 23:32] AronWaterAron opened #2 "nice project"
I love using draw io very much,
however to export the graph,
the only support format that could preserve some information is vsdx,
but there are so few vsdx python libraries out there.

[2021-02-20 03:55] AronWaterAron opened #3 "get the connector"
thanks for the 3 test vsdx and the well written test file.

May I know how to get the connection information from vsdx?

[2021-02-23 21:00] james-powis commented on #3
I too was wondering this.

Testing from Lucid chart, the CSV export contains connections, but when exporting as vsdx and importing back in to lucid chart, all the relevant information I am looking to retain is present EXCEPT connections are no longer snapped to the shapes.

This is either a manifestation of the vsdx format, or import. Any guidance would be greatly appreciated.

[2021-02-24 16:41] james-powis commented on #3
OK I have delved into the VSDX file format... There is no actual data construct which "snaps" the line to the object.

Basically you have the Shapes XY coordinates, as well as heigh and width. You also have a start xy and end xy for each of the line shapes.

I suspect it is as simple as getting each of the shapes, compute the edge boundry, and then check each line to see if it's start or end coord

[2021-02-24 20:35] james-powis opened #4 "Master-to-Shape inheritance"
For deduplication shapes can be inherited and then overridden at the page level.

Take the following example file:
[test4_lines.zip](https://github.com/dave-howard/vsdx/files/6038698/test4_lines.zip)

2 of the shapes are declared (text) in master1 and master2 while 2 are in page1.

https://docs.microsoft.com/en-us/openspecs/sharepoint_protocols/ms-vsdx/74428617-9833-4d73-aa7f-f3a6f043a12d

[2021-02-25 02:38] AronWaterAron commented on #3
"I suspect it is as simple as getting each of the shapes, compute the edge boundry, and then check each line to see if it's start or end coordinates are on the edge of the shape."

This is a possible guess, as I am sure that a line is also a shape, they probably just check whether the boundary of the line touches any shape.........

Of course, I am not 100% sure.

[2021-02-25 05:33] AronWaterAron commented on #3
actually if we try to read the source code of [drawio](https://app.diagrams.net/), we might know how to get the connecting information, since drawio accepts import vsdx format graph,  and drawio could perfectly read that connection information such that when you drag some shape, the connected line with other shapes will move too.  However, the source code base is huge. I couldn't even locate where

[2021-02-25 16:44] james-powis commented on #3
I am still digging into this, #4 is a bit of a bigger issue as right now this module does not properly implement the masters files which are used for deduplication within the file format. Basically shapes can be defined in the page directly, or they can be defined in master and then referenced within the page with overrides. Its pretty a ingenious solution, and it uses the same methodology of the

[2021-02-27 00:16] dave-howard commented on #3
Hi - I think you are both right on the connectors/line shapes. There is a relationship defined in Connects/Connect element and the module should move the line shapes that are mapped to any other shape that are being moved (I imagine it will be more complex than that but its a start).
Regards master files - you are right, I have not needed to look at that element.

[2021-03-01 22:41] james-powis commented on #4
Dave,

Carrying the discussion from #3 here to remain on topic. I have created a fork which rounds out some of the basic python module structure and best practices (ie: requirements file, unit_tests in unit_tests for pytest discovery, flake8 config etc)

Additionally I wrote a (failing) unit test for module inheritance as well as initial prerequisites for master inheritance.

The code can be found

[2021-03-01 22:45] james-powis commented on #4
Also I did make some changes to use os.path functions to start the support for Windows based systems some time in the near future, as well as resolving absolute pathing from relative.

[2021-03-03 16:01] dave-howard commented on #4
James - that's great, I wasn't clear on the master inheritance issue so a failing test is perfect thanks. I will take a look at both test and other changes in your fork.
Thanks
Dave

[2021-03-03 17:54] dave-howard commented on #3
Hi - I have add a couple of properties to Shape class.
Shape.connected_shapes provides list of Shape objects (so connectors, or shapes if you query the connector)
Shape.connects provides a list of Connect objects which describe the relationship

v0.2.5 pushed to PyPI now

I hope that helps address the initial question :)

I'll leave this issue open for now in case it doesn't.

[2021-03-03 17:59] dave-howard commented on #2
Hi - thank you, I am glad you like it.
I saw and used docx and openpyxl and needed to also do some processing of vsdx files, couldn't find anything to do what I needed so decided to start this project. I hope you find this even a little bit as useful as I have the docx and openpyxl packages

[2021-03-03 17:59] #2 closed

[2021-03-14 17:29] dave-howard commented on #3
Closing after v0.2.5 push

[2021-03-14 17:29] #3 closed

[2021-03-23 08:35] stevensultana opened #5 "copy_shape() not working as expected - shape not duplicated"
Hello, thank you for this project!
Any tips on how copy_shape() method can be used?

[2021-03-23 21:47] stevensultana commented on #5
Hmm, I think I hacked together a half-baked solution.

It seems like `VisioFile.get_shapes()` is never called, so `set_new_id()` does not have anything in `page_max_ids` to increment, thus the new shape has the same ID as the source shape.

My solution was to call `VisioFile.get_shapes()` in `VisioFile.open_vsdx_file()` like this:

[code]

[2021-03-27 09:51] dave-howard commented on #5
Hello - thanks for reminding me :) I started the copy method but did not complete. I will do that and add a related test. Looks like your solution above is exactly what is missing, but I will also add the copy method to Shape object for ease of use.

[2021-03-27 10:50] dave-howard commented on #5
Hello - just pushed a change with two new tests related to this, seems to have resolved. Shape ID not changing was actually an issue in copy_shape() method incrementing source shape instead of new shape. Shape class now has a copy() method.

[2021-03-29 16:52] stevensultana commented on #5
Hello Dave, thanks for the update!
I think there is still a problem, however. From the tests themselves, the output file does not have the new shape visible.
Looking into it, there is the definition of the shape in the xml. Eg. for test1.vsdx, there are 5 shapes listed and the fifth shape is in fact a copy of the source shape.
However, that copied 5th shape's ID is 1, whereas it should be ID 7 (th

[2021-03-29 21:53] dave-howard commented on #5
Hello - thank you for testing, and yes you are right. I'll get that resolved in next release and add a note here when that's done.

[2021-04-02 08:54] dave-howard commented on #5
Hi Steven - closing this after after your changes merged to resolve. Thanks for your help

[2021-04-02 08:54] #5 closed

[2021-04-02 08:57] dave-howard commented on #4
Hi James - the latest update now loads master pages and master ID for each page. I've not actually been able to map the Shape to master shape so test still fails. However - just thought I would note the progress made here.
Need to investigate the vsdx file format more to understand that relationship.

[2021-04-10 12:46] stevensultana opened #8 "Feature - VisioFile.add_page()"
I've been looking at how an add_page method would need to be implemented. I wrote a proof of concept and pushed it to [my fork](https://github.com/stevensultana/vsdx/tree/add_page), but I believe there's still some decisions to be taken before a PR is opened, and also I don't want to conflict with work related to master pages.

Till now the process seems to be:
- [x] Create visio\pages\pageX.xml f

[2021-04-25 11:15] harshithaa-h opened #10 "New Feature Request: Connect two newly created shapes"
I am trying to connect 2 shape objects , but I did not find any way to connect two shapes with a dynamic connector object.
Can you please introduce this feature soon.

[2021-05-14 20:05] stevensultana opened #12 "Implement Element.find()"
To implement Element.find() and Element.findall() to simplify the codebase.

[2021-05-16 15:41] #12 closed

[2021-06-18 21:13] stevensultana commented on #4
Hello, I've messed around a bit with this - I think managing to get Master-to-Shape inheritance to work will be quite a break for the package.

I have a demo for getting cells/data from masters. Setting Cells is a bit of a beast - you can see I tried to start something, but quickly tracked back: https://github.com/stevensultana/vsdx/tree/quick_inheritance

My approach is the following:
A Shape's M

[2021-06-18 21:23] stevensultana opened #17 "Cleanup - VisioFile.page_xml_by_file_path"
From what I gathered, VisioFile.page_xml_by_file_path is not exactly being used anywhere except for VisioFile.set_page_max_id(), where a for loop can replace the functionality.

I did a quick test and removed the references to it, and things seemed to continue working as expected.

Is there a use case that I am missing? Or may I open a PR?

I think that if it is not in use, removing it will remove

[2021-06-19 06:26] dave-howard commented on #17
Hi stevensultana - let me look into that and I'll comment back here

[2021-06-19 06:42] dave-howard commented on #17
Hi again - yes I agree - it's a legacy/duplicate from initial implementation and Page.xml and Page.filename store the same information. So that suggested PR would be an improvement.

[2021-06-23 21:07] stevensultana commented on #17
Hi Dave,

I've removed page_xml_by_file_path, master_page_xml_by_file_path and also page_max_ids (and amended the necessary functions that used these attributes).

As a consequence, I moved a couple of functions that were in VisioFile to the Page and Shape classes, moving towards passing around and working with the Pages and Shapes, rather than Elements.

Now that I'm at it, shall I keep going wit

[2021-07-01 20:30] #8 closed

[2021-07-01 20:31] #17 closed

[2021-07-04 18:14] dave-howard commented on #4
I think after the changes @stevensultana  has added and the tests @dave-howard has added in last commit means we can close this issue - will leave open for a week for comments and otherwise close after.

[2021-07-08 14:27] frankhefner opened #20 "Exporting attributes of shapes"
Hi,
I am quite new to this library.
I do have the task to export the attributes of any shape from a Visio file. For now I do not have found any function within class vsdx.VisioFile.Shape that would allow looping over the attributes.

My code is as follows:

_from vsdx import VisioFile
with VisioFile('Test_Prozess_neu.vsdx') as vis:
    # open first page
    page = vis.get_page(0)
    # Read all sh

[2021-07-09 20:07] dave-howard commented on #20
Hi Frank - always good to see people using this :)

Just want to check what sort of attributes you mean - i.e. `VisioFile.Shape` object fields/properties or attributes of the original shape in Visio.

For the `VIsioFIle.Shape` object you can list attributes using `shape.__dict__`

So something like `print(f"shape {shape.ID} {shape.__dict__}") in your loop`

You might notice the the `Shape.cells` p

[2021-07-19 06:54] frankhefner commented on #20
Hi Dave,
Thanks for the prompt reply!
I have tested the list attributes function shape.__dict__ but unfortunatelly it is not showing the attributes/data of the shapes I am trying to get.
I am searching for the data/attribute fields that I can view or define when I do a right click upon a shape, then choose "Data" -> "Shape Data" or "Data" -> "Define Shape Data".
Please see attached screen shot. An

[2021-07-22 13:37] dave-howard commented on #20
I see what you mean now - let me look into that

[2021-07-22 14:04] dave-howard opened #21 "Mechanism to move/cop shape from one page to another using jinja"
I would like to be able to have a tag like `{% move_to_page <string> %}` where <string> is the page_name

Maybe needs some thought about the definition above, possibly add a `{% move_to_page_index <int> %}` also

Where this tag exists in shape or group shape text, the shape should be moved to page identified by page name /index

Same logic for copy methods which would leave the original shape in p

[2021-07-22 14:19] dave-howard opened #22 "Review API presented by VisioFile class in readiness for v1.0.0 release"
The API has evolved a bit organically and as such is not currently very consistent.

Most methods today are not marked as private (not underscore) but many are not really aimed at end users of the package.

If we think about how each object is likely to be used we are likely to be able to a inituitive experience for user/developers.

For example  - being consistent with how a user finds, moves, co

[2021-07-22 14:20] dave-howard commented on #4
Closing this one as done

[2021-07-22 14:20] #4 closed

[2021-07-22 20:40] stevensultana commented on #22
Been a while since I checked in.

I'd add two items to this task:
- remove the nested classes and have each class be its own thing
- split the code into multiple files. maybe have:
-- VisioFile and helper functions, Enums, etc
-- Page and Connector
-- Shape and Cell

Or whatever makes sense: maybe connectors are closer related to Shapes, for example.

I also have a bit of an annoyance, but it's qu

[2021-07-23 13:48] dave-howard commented on #22
that is very much in line with my thinking too - and now is the right time for those API breaking changes

[2021-07-23 13:57] dave-howard commented on #22
one other quick thought on how we break down the classes/files - I would want the import statements to be simple and descriptive - none of these deeply nested imports you sometimes see. I am sure that's doable regardless of how we arrange the source files internally.

[2021-07-27 17:22] stevensultana commented on #22
Mostly a train of thought:
A VisioFile contains Pages (and MasterPages)
A Page contains Shapes and Connectors
Shapes are made up of Cells (properties) and subshapes
Connectors in the vsdx file refer to the connector ID, and one Shape to which they connect. So a "full" connector is made up of 2 Connector elements.

The corollary of this is that:
- VisioFile class should mostly work with getting, se

[2021-07-27 18:02] stevensultana commented on #22
Regarding the project structure, I agree that it should be as flat as possible. Maybe something like this (inspired by https://docs.python-guide.org/writing/structure/):
[code]

[2021-08-06 12:13] Vladimir-Ilyin opened #23 "after copy_page and save_vsdx new file do not open in Visio"
Hello!

  after copy_page and save_vsdx new file do not open in Visio: internal Visio error #3400
  i use `pytest test.py::test_copy_page` and error occurs even with test files

[2021-08-06 15:10] Vladimir-Ilyin opened #24 "second+ loop statement on page do not work"
Hello!

  I try to use 5 loops on one page, but have an error

`jinja2.exceptions.TemplateSyntaxError: Unexpected end of template. Jinja was looking for the following tags: 'endfor' or 'else'. The innermost block that needs to be closed is 'for'.`

  Only one loop statement is work

[2021-08-06 15:59] Vladimir-Ilyin commented on #24
i think we need change this in `jinja_create_for_loop_if`
`            if previous_shape:
                previous_shape.xml.tail = jinja_loop_text  # add jinja loop text after previous shape, before this element
            else:
                shape.parent.xml.text = jinja_loop_text  # add jinja loop at start of parent, just before this element
            shape.text = text.lstrip(jinja_loop_te

[2021-08-06 19:08] dave-howard commented on #24
HI - I guess this is where the jinja template has nested loops in the same shape. Something like:
`{% for list_item in my_list %}{% for j in list_item.list_property %}{{ j }}{% endfor %}{% endfor %}`

Your code changes look good to me, it's great to see an issue raised with a solution :)

I will update the code and add a test for this scenario to the package.

[2021-08-06 19:44] Vladimir-Ilyin commented on #24
Hello!

in my visio template, different loops went besides to each other, it turned out that the `endfor` of the previous loop was overwrited by the `for` statement of the next

[2021-08-06 22:12] dave-howard commented on #24
I think I have fixed this now - at least I have a working test with nested loops in a single shape, which was failing previosuly (sounds similar to what you describe) and now test is passing.
That change has been pushed up in this repo and to PyPI so please update your end and let me know if this resolves the issue, thanks

[2021-08-06 22:27] dave-howard commented on #23
Hi there - that test is passing in automated tests (see Actions tab in this repo), for python 3.7, 3.8 and 3.9 - I know if fails for 3.6 and not tested for 3.10.
I've not come across that error previously, Can you help me recreate the problem?

[2021-08-06 22:53] Vladimir-Ilyin commented on #23
Hello!

  Yes, test is passed for me too, but result file is not readable in Visio 2016
  my platform win32 -- Python 3.9.6, pytest-6.2.4, py-1.10.0, pluggy-0.13.1
  try to open the result in Visio 2016, did You can open it? What version of Visio Your installed?

[2021-08-06 22:54] Vladimir-Ilyin commented on #24
Hello!

  Now all work fine
  Thank You very much!

[2021-08-06 23:00] Vladimir-Ilyin commented on #24
one more thing
how can i hide some shape inside the loop?
showif statement inside loop do not work

[2021-08-07 08:04] dave-howard commented on #23
Good point, passing test != file working in Visio :) - that's a pretty important limitation of the test suite

I also have Visio 2016, Windows 10, Python 3.8 - however, the five output files from that test do open fine for me.

I wouldn't have _thought_ Python 3.8 vs 3.9 would have impacted output files, but maybe I should test that assumption

[2021-08-07 08:11] dave-howard commented on #23
Follwing test, same result in v3.9 also

[2021-08-07 08:22] Vladimir-Ilyin commented on #23
Hello!

  I tried to open test files in two different machines with the same error
result
  in attaching my test file from pytest run, is it ok for You?

сб, 7 авг. 2021 г. в 11:11, Dave Howard ***@***.***>:

[2021-08-07 08:27] Vladimir-Ilyin commented on #23
here is my Visio file from pytest.py:test_copy_page
https://github.com/Vladimir-Ilyin/vsdx/blob/05c04e55729e7e7334d9b90f6b3781f65e8e5c4f/test1_test_copy_page_Page-1.vsdx

[2021-08-07 10:21] Vladimir-Ilyin commented on #24
i make some adds for showif statement to work in loops
only required
shape with `showif` should be at the top of the group (in xml the last one in order), otherwise I just can't get into the correct `parent`

[code]

[2021-08-07 11:11] Vladimir-Ilyin commented on #23
for me the error is in docProps/app.xml

i remove all lines with new pages names in `ns1:lpstr` and then file opened in Visio 2016

[2021-08-07 11:39] dave-howard commented on #23
I am able to open that file  - is that link the original file output or your fixed version?

[2021-08-07 11:50] Vladimir-Ilyin commented on #23
In link original output file, not fixed

Сб, 7 авг. 2021 г. в 14:40, Dave Howard ***@***.***>:

--

--
С уважением
Владимир Ильин
+7(967)172-40-30

[2021-08-07 12:13] dave-howard commented on #23
Strange that I do not get the same error in that case. I did a very brief bit of googling on Visio error #3400 and one of the common threads is OneDrive Sync'ing. So perhaps worth trying to ue the file from a non-sync'ed location (i.e. downloads) to ensure that is not a factor.
Other question I had was whether this problem occurs for all five output files for that pytest test.py::test_copy_page te

[2021-08-07 13:55] stevensultana commented on #23
When manually copying a page, the app.xml file has a change in the HeadingPairs element, apart from the TitlesOfParts elements.

I wonder, if in the output file you manually change this part of app.xml:
[code]

To this, does it improve the situation:
[code]

[2021-08-07 14:06] dave-howard commented on #20
Hello Frank - I have just released v0.4.7, which introduces `ShapeProperty' class, a list of these being available from `Shape.data_properties` property. This is a basic initial implementation - it is lacking any specific consideration of master shape inheritence and of the value type (all values will be strings). You might want to look at the test method: `test_get_shape_data_properties()` for gu

[2021-08-07 15:04] dave-howard opened #25 "New Feature: Find Shape by Data Property"
the ability to find a shape by it's data properties, either property name, label, or value would have advantages over:
- find by id (id might change when moved, copied, and is not easy to find), and
- by shape text, which is visible in end diagram, unless removed after the shape is found

Shape Data would be a good way to identify shapes that require some action performed on them.
methods may look

[2021-08-07 15:40] Vladimir-Ilyin commented on #23
Hi Steven!

  Yes, when change to relevant value of pages it also work fine!
  Thank You very much!

[2021-08-07 15:42] Vladimir-Ilyin commented on #23
Yes, i have same problem with all five files

Solution by Steven is work too

[2021-08-07 15:59] stevensultana commented on #23
Awesome, let me submit a PR :)

[2021-08-07 16:24] dave-howard commented on #24
there are a few scenarios to think about here:
- showif block containing loop
- loop containing showif block
- standard if block containing loop
- loop containing standard if block
Those above all in a single shape text, or in parent/child shapes (less complex)

I'll starting thinking about those...

[2021-08-07 18:43] #23 closed

[2021-08-07 18:55] dave-howard commented on #23
Thanks Steven :)

[2021-08-08 20:21] dave-howard commented on #24
Hi - so I think I have resolved this now, at least the test I have added works - would be good to know if this helps your use case also?

A few issues resolved:
- it was returning before checking for `showif` if a for loop was found in the shape.
- if was only looking for a single showif statement, at the start of Shape.text
- it was not looking beyond the initial set of page shapes - not searchin

[2021-08-09 13:57] Vladimir-Ilyin commented on #24
Hi Dave!

  now all looks fine, all showif statements works well
  Thank You very much!

[2021-08-16 10:49] dave-howard commented on #24
My pleasure - closing issue now resolved.

[2021-08-16 10:49] #24 closed

[2021-09-06 14:50] frankhefner commented on #20
Hi Dave,
sorry for coming back that late upon this.
I have installed the new version and looked into the mentioned test method.

This is my code:
# process properties
shapeProps = shape.data_properties

# loop over the properties
for prop in shapeProps:
     print("Property value: " + str(prop.value))

The loop does at least provide the correct amount of properties, being set on a shape.
But I do

[2021-09-07 06:37] dave-howard commented on #10
Hello - been a while since you raised this - but there is now a Connect object with a create method which will create a new connection between two existing shapes.
`page = vis.pages[0]  # type: VisioFile.Page`
`from_shape = page.find_shape_by_text(shape_a_text)`
`to_shape = page.find_shape_by_text(shape_b_text)`
`c = VisioFile.Connect.create(page=page, from_shape=from_shape, to_shape=to_shape)`
`v

[2021-09-08 06:51] mrspelf opened #27 "Absolute Path of .vsdx file"
Hi!

I like to open a file with an absolute path location.

[code]

I get then the following Error:
OSError: [Errno 22] Invalid argument: './D:/PROJECT_PATH/FILE/visio/pages/_rels/pages.xml.rels'

[code]

Can you help me? :-)

Have a nice day and thank you for this great library!

[2021-09-09 06:38] dave-howard commented on #20
Hi Frank - looks like a bug in the library code (and test for this feature) rather than anything you are doing wrong. The fix is included in release v0.4.9 that I have just pushed here and to PyPI. I'll re-open this issue so we can close when properly resolved.

[2021-09-09 08:05] dave-howard commented on #25
Each of these should also be available from Shape object, to find a sub shape by data_property within that shape
The Shape class should store the ShapeProperty items in a dict indexed on name so that it can be quickly retrieved to support these methods.

[2021-09-09 08:08] dave-howard commented on #27
Hi mrspelf - thanks for raising this. I have only used relative paths to date, but using absolute paths is a totally valid use case. I will look into updating the package to support that.
I'll add a note here when I have made some progress

[2021-09-10 07:26] mrspelf commented on #27
Hi dave,
sorry, i used the wrong button.
This issue should not be closed yet.
But thank you for your reply - I'm looking forward for your reply! :-)

[2021-09-10 08:00] dave-howard commented on #20
Hi Frank - just a heads up that I will change the Shape.data_properties type from list to dict in the next release, so just be aware of that.
The reason for this is to make it easier to get a specific property from a shape e.g. `my_shape.data_properties['my_prop_name'].value`

[2021-09-10 08:06] frankhefner commented on #20
Hi Dave,
Thanks for taking care and for the heads up.
I am going to test v0.4.9 next week.

Have a nice weekend,
Frank

[2021-09-11 20:11] dave-howard commented on #25
Added in v0.4.10 but used Shape data label instead of name, as these are more readily visible in Visio than property names and values - so they are a better way of identifing shapes to be manipulated.

Done

[2021-09-11 20:11] #25 closed

[2021-09-15 12:47] frankhefner commented on #20
Hi Dave,
I do have tested now v0.4.10. We are almost there but I would need a last information from you.
When iterating over the data properties with the following code, I do only get the last data property as output.

for key, dataProperty in shape.data_properties.items():
        print(dataProperty.__getattribute__('name'), '->', dataProperty.__getattribute__('value'))

Do I have to develop the

[2021-09-15 21:03] dave-howard commented on #20
Hi Frank - that code seems valid, it does loop through two data items in the test file.

If I add it to test `test_get_shape_data_properties()` it runs fine and adds the expected output lines below...

my_property_name -> property value
my_second_property_name -> another value

Note: The properties dict is indexed by label, not name - this is because the label is visible without opening the define

[2021-09-16 08:31] frankhefner commented on #20
Hi Dave,
You are right, the code works perfect for all new defined data properties on a shape.
However, in my test file I have used a master shape that already had defined some data properties . If I enter some text to all data properties of the master shape, only the "last" one is being shown.

I would like to attach my test Visio file here, but github does not allow for uploading Visio files. So

[2021-09-16 20:21] dave-howard commented on #20
That makes complete sense now :)
I didn't take account of master shape properties - I've updated and release v0.4.11 and hopefully this will now work as expected.

Thanks
Dave

[2021-09-21 09:41] frankhefner commented on #20
Hi Dave,
I have installed release v0.4.11 and tested it with my Visio test file. The result is still the same:

![Shape_properties_v_0_4_11](https://user-images.githubusercontent.com/87135951/134148303-ecf724c7-15ed-47e9-86bf-d1d36fbaa9ac.png)

When looking at the list of the shape properties it is showing all properties from the master shape and then it is repeating the last property having a val

[2021-09-21 12:02] rg2609 opened #28 "convert vsd to svg"
HI,
can we convert the vsd to SVG or create vsd file and export it to the SVG file.

[2021-09-26 07:13] dave-howard commented on #20
Hi Frank - the properties are indexed by the label, so if the master and shape both have a property with label 'label1' the shape property should override the master shape property with same label. I suspect that is what is happening here..

There should only be on property with label of 'Status' - but I guess that is the name not the label?

The output of on the right is really helpful, if you co

[2021-09-26 16:02] dave-howard commented on #27
Hi msrpelf - with v0.4.12 you should now be able to open/save usoing absolute or relative paths

Please let me know if that works for you,
Thanks
Dave

[2021-09-27 07:27] frankhefner commented on #20
Hi Dave,
good news, now it is working perfectly!
![Shape_properties_v_0_4_13_working_perfect](https://user-images.githubusercontent.com/87135951/134863062-8acfaf01-310f-4e3a-964d-209ea8da1dbf.png)

Thanks for all of your efforts and support!

Have a great week,
Frank

[2021-09-27 08:07] dave-howard commented on #20
Great news, took a few attempts but learned a bit along the way so always worthwhile :)

Thanks for comfirming so quick Frank

Cheers
Dave

[2021-09-27 08:07] #20 closed

[2021-09-30 18:44] mrspelf commented on #27
Dear Dave,
it works for me, thank you for implementing and sharing!

[2021-09-30 18:44] #27 closed

[2021-10-07 01:27] z3ndrag0n commented on #10
when I try and use VisioFile.connect.create I get a file not found error on ...\\site-packages\\media\\media.vsdx tracing back to __init.py__ line 1509 `media=Media()` - do you want a separate issue raised for this?

[2021-10-08 19:27] dave-howard commented on #10
Hello @z3ndrag0n  - thanks for raising, no need for separate issue. I'll look into this.

[2021-10-08 19:46] dave-howard commented on #10
Hello again - v0.4.14 pushed which has that missing media file included in the package. I was able to recreate your issue, and upgrade resolved for me so hopefully will for you also.
Kind regards
Dave

[2021-10-08 20:00] dave-howard commented on #28
Hello - this is a great idea but would be a big undertaking - not something I plan to add to the package. If you decide to have a go and use this vsdx package in some way I would be interested to hear more and if you need changes to this package to support that  effort please do raise an issue in here

[2021-11-10 23:00] stevensultana commented on #22
Hi Dave, fwiw, I'm trying to understand what would be required if we split the project into multiple files.
I have a branch at https://github.com/stevensultana/vsdx/tree/split_project_files to work on this, if you want to have a look yourself :)

Until now, I encountered some issues with circular dependencies, but managed to wrangle them a bit with ordering the imports. Still quite a brittle solut

[2021-11-11 23:03] stevensultana opened #29 "media file is not closed in Connect.create()"
The media vsdx file is open with the `Media()` call, but never closed in the `create()` function. This leaves the unzipped vsdx file lying about, and possibly causes some issues if `create()` is called multiple times.

I think it's only a matter of calling `media._media_vsdx.close_vsdx()`

[2021-11-16 13:43] #29 closed

[2021-12-31 16:20] nicholas-hartley opened #32 "Find by text != Find by data label"
Hey,

I was playing around with this library (very nice) and I noticed that when I found an object with find_by_text and find_by_data_label they did not show as being equal. I have a million guesses as to why, but figured I would point it out in case if y'all thought it would be a good idea to overwrite the `==` assignment operator.

Code that showed the result shown below, I had a single object w

[2022-01-01 20:58] stevensultana commented on #32
Thanks!
Indeed the same issue can be seen just by:
[code]

The issue is simply that the `find_*` methods re-create the list of Shapes internally. As you said, overriding `==` resolves this anomaly.

[2022-01-02 21:18] #32 closed

[2022-01-04 20:27] stevensultana commented on #22
Hi Dave, do you have an API design in mind? I'll be happy to whip something up for your review :)

[2022-01-06 22:01] dave-howard commented on #22
HI Steven - I looked at your proposed changes in pull request. The __init__.py file is the surface of the API that consumers of the package will be using; and I think this allows easy access to those classes they shoud be using like VisioFile, Page, Shape etc. and we can always add more if need be, and this doesn't stop the consumer from importing other nested items they might want to.
With regard

[2022-01-06 23:23] dave-howard commented on #22
Didn't mean to close this.
You should see I have merged pull request and resolved conflicts - all tests are passing but please have a look at flag any issues I might have introduced whilist combining.

[2022-01-20 21:28] edurguti opened #35 "Cannot open in Lucid"
Hi, I am editing a visio file created in lucid.app, I am just replacing some text and then adding it back to lucid.app but it won't open it.

![image](https://user-images.githubusercontent.com/19334167/150424865-fbef8624-6690-4bf4-8ddb-8487f0f5e92e.png)

[2022-01-23 12:28] edurguti opened #36 "Feature Request - PDF"
Hi, first of all, thank you for this library,  it would be nice to have a - save to pdf option.
thanks

[2022-01-23 12:40] dave-howard commented on #35
H @edurguti - just a quick note to let you know I have seen this issue.
I am not a Lucid user - but having signed up to check this issue,, I can confirm I see the same issue with the test case files. Input file can be imported into Lucid, output file can't be imported.
No idea at this point why not - but of course ideally you should be able to import into Lucid. I would expect there is something m

[2022-01-23 12:51] edurguti commented on #35
@dave-howard  thank you for your answer, it is not critical at this point. I am the only user in my team using Lucid, so this isn't a big issue as it works fine on MS Visio.

[2022-01-23 12:57] dave-howard commented on #36
Hi - I agree that would be a great feature, but - similar to convert to svg request - this would require much deeper processing of the vsdx file than the package is currently capable of.

I am making some progress on processing shape geometry - the latest release includes a Geometry class which describes shape vectors, but this is still some way off being useful for exporting to different formats.

[2022-01-30 21:05] dave-howard commented on #35
@edurguti Hi - I have just released v0.4.17, and this has resolved the problem for me, at least a couple of files that were failing previously I can now import into Lucid after the change.
The issue seemed to have been one related to xml namespaces - though I can see the output files do still differ in some ways to those created by Visio so some isues may remain.

Please let me know if upgrading r

[2022-01-31 09:17] edurguti commented on #35
@dave-howard  I confirmed this is is working. Thank you! There are small issues with rendering but 99% is fine!

[2022-01-31 09:17] #35 closed

[2022-02-01 10:36] freeholod opened #37 "Problems with connectors and page size"
Hello, I ran into problems with displaying a tree in vsdx.

When opening a file,

**firstly**: links are displayed incorrectly until you move some figure or select auto-fit on the designer tab.
![on_start_view](https://user-images.githubusercontent.com/12254463/151953210-79a4c28e-0ea6-438c-bda3-c3d6722f8fbd.png)

**Secondly**: the shapes go beyond the dimensions of the template page, this is also

[2022-02-01 10:41] freeholod commented on #37
Below is my simple code that is used to add elements and links to the visio tree:
![Снимок экрана 2022-02-01 в 13 40 10](https://user-images.githubusercontent.com/12254463/151953922-b21a9da3-5cab-40b3-8a94-43814e69cf29.png)

[2022-02-02 20:47] dave-howard commented on #37
Hi @freeholod  - With regards to connectors: you do not appear to be doing anything incorrect.

The dynamic connector shape is not placed correctly by the package as it is today, until a shape is moved at which point Visio moves the connector ends to the correct location. This is a known issue to be resolved (related to #10 ) this is in progress but the XML processing required is quite complex. Th

[2022-02-03 08:11] freeholod commented on #37
Hey Dave!
Thanks for the answer. I really hope that you succeed in everything you have planned. Because I analyzed and realized that it was difficult for me to deal with this.

[2022-02-27 21:17] dave-howard commented on #37
Hi @freeholod   - I have just released v0.4.18 which includes Page.height and width properties - hopefully these are helpful / work as expected

Dave

[2022-02-28 08:19] freeholod commented on #37
Hey, @dave-howard! Thanks for the new version!

In general, width and height properties work as expected, although I had to correct the coordinates of the shapes, but it's simple. But for some reason, the Autosize button for connectors stopped working. Now connectors are drawn only if you move the shapes in the visio editor.

[2022-04-14 22:12] dave-howard commented on #10
Hi @z3ndrag0n  - v0.4.19 should improve the positioning of connector shapes.  Please have a go with new version and let me know either way. Not a simple change - hence the delay - but I hope it works for you,
Dave

[2022-04-14 22:23] dave-howard commented on #37
Hi @freeholod - connector positioning should be improved with v0.4.19.
Regards the Autosoze button - I expect there are some other changes that need to be made elsewhere in vsdx file at same time as page size. I'll see if I can re-create that issue.

[2022-04-17 10:21] dave-howard commented on #22
@stevensultana ...after a long pause... my thinking on this is:

- [ ] we deprecate the Page.shapes method - replacing with 'internal' _shapes() method - agree it is confusing
- [ ] move to v0.5.0 to reflect that deprecation
- [x] sub_shapes() method already returns all top shapes - and is consistent with Shape class sub_shapes()
- [ ] I've added Page.all_shapes() in v0.4.20, but should add same t

[2022-04-17 20:26] dave-howard commented on #22
sub_shapes() would ideally be a property instead of a method - changing to property would be a _breaking change_ so we can introduce a new property such as child _shapes to Page and Shape class, and deprecate sub_shapes() method.
Note task added to list above...

[2022-04-18 08:55] dave-howard commented on #22
Another item to be done prior to v1.0.0 - improve the documentation

[2022-04-18 10:06] z3ndrag0n commented on #37
@dave-howard have tested and I get the same traceback with 0.4.19 - seems like it thinks don't have a geometry object which doesn't seem to cause problems until I go to create a connector using code such as: Connect.create(page=page1, from_shape=shape1, to_shape=shape1a)

[2022-04-21 20:26] dave-howard commented on #37
Thank you @z3ndrag0n for testing - I expect that your firewall and switch shapes are complex / compound shapes - and I haven't tested connecting anything other than simple shapes.
Let me add some tests which I expect will fail and re-release once resolved.
Cheers
Dave

[2022-04-24 13:07] FROGGS opened #40 "Shape name is not language agnostic"
Hi, here you check the `Name` attribute of a shape against a known value:
https://github.com/dave-howard/vsdx/blob/6e98f01e4726b7785a76fde82d2356d7041319e2/vsdx/shapes.py#L490

Though, in my German version of Visio it will contain a German translation, see:
[code]

You might want to use the `NameU` attribute instead.

This is Visio Standard 2016 if that matters.

[2022-04-24 13:09] FROGGS commented on #28
Hi, I am currently working on a project for displaying a vsdx file directly in browser as an SVG image.
I might release an alpha version soon. I'll post here when that happens.

[2022-04-24 13:38] FROGGS commented on #40
I just stumbled across another example:
[code]

So not even `NameU` is reliable.

[2022-04-27 19:45] dave-howard commented on #40
Thanks for flagging this - I expect I need to create a dict/map of translations for these kind of comparisons - and need to take account of the possible name.number format also.

Dave

[2022-04-27 20:18] dave-howard commented on #40
Hello - I have added langauge mapping for this comparison and included in release v0.5.4. Please me know if that helps.
Note that when creating a new connector via Connect.create() the tool copies content from an included media.vsdx file which will have the name in English language.

[2022-04-29 15:59] FROGGS commented on #40
You could perhaps also check the master shape.
Its `PageSheet/Section[N="Layer"]/Row[IX="0"]/Cell[N="NameUniv"]`has a value of `Connector`.

To be clear, *I* dont actually need a fix for this. I merely am about to write a software that also parses vsdx files, and reviewed your code for inspiration.

[2022-05-01 06:46] dave-howard commented on #40
Hi @FROGGS - that looks really helpful. Thanks for the tip. Hope you found something useful in the source,

[2022-05-01 14:03] dave-howard commented on #40
Implemented as `Shape.universal_name` in v0.5.5 - thank you :)

[2022-05-01 14:03] #40 closed

[2022-05-03 16:26] MariusSchiffer opened #41 "Shapes.text breaks when master page is referenced but cannot be found"
if a shape has master_page_ID, which cannot be found in the current vsdx file, the shapes' text method tries to access its master's text without actually  checking if it has an accessable master.

Breaks here: https://github.com/dave-howard/vsdx/blob/ff82f8fb095f53436b2f63cc80bfb004d18c8d3c/vsdx/shapes.py#L563

Easiest fix is probably to rather check is master_shape is None.

I have not yet found

[2022-05-10 19:52] hideo213 opened #42 "deleting pages by index shows irregular results"
I have an issue, that if i try to delete several pages at once, the deleted pages do not match my selection:

for eg.:
for file in visios:
   with VisioFile(file) as vis:
        for page in vis.pages:
            if not 'LAN' in page.name and not 'Background' in page.name:
                 vis.remove_page_by_index(page.index_num)
    vis.save_vsdx(file)

and then then there are still pages, not c

[2022-05-14 12:17] dave-howard commented on #41
Thank you @MariusSchiffer
I'll add a simple check that shape has a master_shape here to stop the failure - but when copying a shape between files the tool would ideally also need to either include the master data with the copied shape and merge with the existing master data, or incorportate it into the shape itself (similar challenge internally to creating connectors in a vsdx with existing master

[2022-05-14 13:32] dave-howard commented on #42
Hi there - I was just looking through the remove_page_by_index() method to see why this might be failing. I think there are  two possible reasons:
[1] Your code is looping through `vis.pages` and inside that loop calling `vis.remove_page_by_index()` which itself updates vis.pages list. You can mitigate this by wrapping list() around the vis.pages ie.. `for page in list(vis.pages):` so that you are

[2022-05-14 13:43] dave-howard commented on #42
Hello @hideo213  - changes have been tested and updated package v0.5.6 released. Hope this and the comments above help

[2022-05-14 13:44] dave-howard commented on #41
@MariusSchiffer  - minor change added to v0.5.6 to validate the shape has a master shape - so now text peroperty returns None if no master shape found.

[2022-05-14 14:20] hideo213 commented on #42
Hy dave
Thanks for your answer. Yes the list() wrapping solved the problem. Thanks a lot. Now after you explained i understand my logic failure.

The other Question is how do i remove a shape? i have seen that i could move it with shape.x but is there a way to remove it?

[2022-05-14 16:04] dave-howard commented on #42
Nice one - I'll close this issue in that case

[2022-05-14 16:04] #42 closed

[2022-06-29 09:52] jmgarcia-iriusrisk opened #44 "Retrieve the BaseID of a Shape's Masters XML part"
Hi @dave-howard, first to all, I would like to say thanks for this library, it became very helpful in our daily tasks.
We are trying to difference between shapes that has the same master name, as we can see, the only way to do that is to use the BaseID from [Masters XML Part](https://docs.microsoft.com/en-us/openspecs/sharepoint_protocols/ms-vsdx/e58f5f25-76d8-4f65-ae24-d286b10168d7) but the libra

[2022-07-09 08:31] dave-howard commented on #41
Renamed this issue to reflect reason I have left open - to support that use case

[2022-07-09 09:35] dave-howard commented on #44
HI @jmgarcia-iriusrisk  - I've added a master_base_id property to Page class now,

Kind regards
Dave

[2022-07-11 10:33] jmgarcia-iriusrisk commented on #44
Hi @dave-howard, thanks for your fast reply.
Could it be possible to retrieve the UniqueID of the Master too?
As we've seen with the AWS Stencils response in Visio,
![image](https://user-images.githubusercontent.com/108399255/178245316-35f20ee2-936c-4dfd-a160-a0ae783ef5ed.png)

that seems to be the identifier:
![image](https://user-images.githubusercontent.com/108399255/178245648-bf224da8-d375-40e

[2022-07-13 15:32] theovesy opened #45 "Access to Section and Row Elements"
I am maybe missing something but it looks like the library does not parse the Section and Row elements in pages and maybe other types of elements.
As far as I can tell, only Shapes and Cells are currently supported.

EDIT: I was in fact missing a lot of things, looking at the code, it looks like this issue does not exist as everything is read in the shape object

[2022-07-17 11:04] dave-howard commented on #44
Hi @jmgarcia-iriusrisk  - I'll add this property in next release

[2022-07-18 16:39] Andrewjb0813 opened #46 "Glue To Shape"
I have been looking for a way to connect two shapes together by using the glue feature on Visio.  I was wondering if there is anyway to do that in your library.  I saw the connection option and when I try doing that to a bunch of shapes it creates a bunch of triangles.  Any suggestions?

Thank you,
Andrew

[2022-07-19 09:10] jmgarcia-iriusrisk opened #47 "Retrieve master page info in Shape object"
Hi @dave-howard,
I need to access the master page info of a Shape in order to access to their attributes (name, master_base_id, etc..)  ([AWS-complex-stencils-shapes.zip](https://github.com/dave-howard/vsdx/files/9139268/AWS-complex-stencils-shapes.zip)), as I can see on the code, this master shape is retrieve from here:

![image](https://user-images.githubusercontent.com/108399255/179712011-b8850

[2022-07-20 19:13] #45 closed

[2022-07-26 11:44] jmgarcia-iriusrisk commented on #47
Hi @dave-howard ,
I just added this comment to the PR:
https://github.com/dave-howard/vsdx/pull/48#issuecomment-1195136994

[2022-07-27 21:37] dave-howard commented on #44
Done `Page.master_unique_id` property added in v0.5.9

[2022-07-27 21:37] #44 closed

[2022-07-28 13:52] arac-codespace opened #49 "Question about missing attributes"
Hi,

I'm currently trying to extract some location information for each shape in a visio file.  However, I noticed that sometimes these attributes are not mapped to the Shape class and they aren't in the page's xml either.

Is it normal for certain attributes to not appear in the XML at all?  For example, I'm trying to detect when a shape is rotated by 90 degrees.  The visio file has some default

[2022-07-29 20:22] dave-howard commented on #49
Hi @arac-codespace - I have done a simple test by rotating some shapes and checking what that does to shape XML, What I see is an Angle Cell element within the shape xml.
I have added a Shape.angle property to make it easy to access this - this will be in v0.5.10
I notice your shape above has a mastershape - I wonder if the master shape is where the angle property is

[2022-07-29 21:24] dave-howard commented on #46
Hi @Andrewjb0813 ,

Hard to say what the problem might be based on that - but you might want to look at `test_add_connect_between_shapes()` in test_page.py

When I look at output files from that test, the connectors are not perfectly positioned, but each end of the connector is  centered on the 'to' or 'from' shape.

Feel free to share your code and vsdx file here and I will take a look,

Dave

[2022-07-29 21:27] dave-howard commented on #47
Hi @jmgarcia-iriusrisk,
I think `Shape.text` returning an empty string in this case is correct - if we change the behaviour of `Shape.text` to return value of first child Shape with non-empty text, then that will break some other use cases (i.e. `Page.find_shapes_by_text() method`)
That said - if it would be useful to have a method of a Shape that returns all text, or first text value.

In the exa

[2022-07-30 13:11] arac-codespace commented on #49
Thanks @dave-howard

I made a similar test and found the same Angle cell.  My initial assumption was that quick shapes have default attributes stored somewhere, and those attributes are not shown in the shape's XML if they are not modified (so the program falls back to using the predefined defaults).

I didn't think of looking for those definitions elsewhere.  I'll take a look next week and see if

[2022-08-01 15:30] jmgarcia-iriusrisk commented on #47
Hi  @dave-howard,
Thanks for your answer and your time, our problem is that we need to go throug all shape's of a page and retrieving their text.
But with the file `test_master_multiple_child_shapes.vsdx` , in this case, how could we get the text inside the shape (it could have a custom one modified by the user):
![image](https://user-images.githubusercontent.com/108399255/182184818-a743fa7b-d960-

[2022-09-13 09:01] jmgarcia-iriusrisk commented on #47
Hi @dave-howard , sorry for insists, but this is a lacking feature we need to implement in our code, What would be the best approach for retrieving this custom text inside the component?
Cordially,
Juan.

[2022-09-27 19:53] camhilker opened #50 "moving and resizing a shape"
Hello,

First of all, thank you for creating this package. You've potentially saved me from having to write vba macros for automating Visio processes for my current job.

That being said, I seem to be having trouble accurately moving and resizing shapes on a page using the "height", "width", "x" and "y" attributes.

Here is a sample of what I'm experiencing:

`with VisioFile('test.vsdx') as vis:

[2022-10-04 16:38] Kranfield opened #51 "Can not save vsdx"
Hello,

When I try to save a vsdx (with vis.save_vsdx("vsdx_file_name_here") I edited with a python script, I have this error :

[code]

Right now I am not sure why the "file is not found", since when I open my vsdx as a zip, in /MVS_BASELINE20220927/vision/pages/_rels, i find the pages.xml.rels. I was guessing it is because of the \\ and / in the path, but I prefer to ask here (maybe I did a stup

[2022-10-11 09:27] Kranfield commented on #51
Ok so after a week, I found why it was not working. It seems that the saving process is not opening the file so you have to open it before and keep it open. Maybe it would be great to add a functionnality that detect whether the file is open or not, and will open it in write mode if it is not the case.

[2022-10-23 07:32] dave-howard commented on #50
Hi @camhilker - there are a number of dependent attributes on a shape, like height/width & loc_x/loc_y (the attributes I think you might need to change) that this package isn't automatically updating as yet. It does expose these so you can try setting loc_x/loc_y on the box/rectangle
There may be some that it doesn't yet expose but I'll be happy to add them. You can see the properties in the shape

[2022-10-23 07:42] dave-howard commented on #51
Hi @Kranfield  - I guess in your OpenVis() method you are either processing the vsdx file in a with block or explicitly closing it, so the vis object has all the data from the vsdx file but after it's closed the folder structure is removed so we get this error.

I hadn't considered this use case before - but I can see it being really useful. Ideally the original vsdx file contents will be incorpor

[2022-11-16 17:53] 1Cor134 opened #53 "Setting fill color of shape"
Sorry, I probably missed how to do this, but how do you set the fill color of a shape?

[2022-11-24 05:44] surajkhaitan opened #54 "Using vsdx package to Create shape and drop on Visio Page, Set location on sheet and other attributes"
Hi,

I want to make a full fledged visio file with several features. Many of the functionalities are not available in this package and there is not any other package to use this. Can you suggest me on this? I have attached the sample file for reference.
[STOK-X-BS01 SLD (unlocked).zip](https://github.com/dave-howard/vsdx/files/10081126/STOK-X-BS01.SLD.unlocked.zip)

[2022-11-28 16:45] Kranfield opened #55 "Data Properties not complete"
Hello Dave,

I noticed that the data_properties method does not return everything in the shape properties.
I also found why. Sometimes there is no cell.attrib["V"] but there is a cell.text, like this :

[code]

This exception is not taken in account in your code :

[code]

The else should be replaced by (in my opinion) :

[code]

(or maybe something a bit cleaner)

Regards,

Quentin

[2022-11-29 09:00] Kranfield commented on #55
Hello

Here is the correction that I made to the beginning of the DataProperty init method :

[code]

This correction is working fine for me, maybe you can integrate it ?

Regards,
Quentin